:root {
  --skm-col1-width: 130px;
  --skm-cell-size: 30px;
  --skm-header-color: var(--vapor-color-azureish-white);
  --skm-sub-header-color: var(--vapor-color-white);
}

.skm-container {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
}

.skm-table th,
.skm-table td {
  margin: 0;
  padding: 0;
  border: 1px solid #005075;
}

.skm-table-body > tbody > tr:first-child > td {
  border-top: 0px solid #fff;
}

/**
 * HEADER
 */

.skm-table-headers {
  position: relative;
}

.skm-header-total {
  vertical-align: middle;
  width: var(--skm-col1-width);
}

.skm-header-total span {
  display: block;
  overflow: hidden;
  text-align: center;
}

.skm-header-group {
  vertical-align: middle;
  text-align: center;
  background: var(--skm-header-color);
  font-weight: bold;
  white-space: nowrap;
}

.skm-header-group span {
  display: inline-block;
  overflow: hidden;
  padding: 5px 5px;
}

.skm-header-skill {
  vertical-align: bottom;
  text-align: center;
  width: var(--skm-cell-size);
  background: var(--skm-sub-header-color);
  overflow: hidden;
  cursor: pointer;
}

.skm-header-skill span {
  display: inline-block;
  overflow: hidden;
  margin: 5px 0;

  /* text rotate */
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

/**
 * BODY
 */

.skm-table-body {
  position: relative;
  display: block;
  overflow: scroll;
  height: 450px;
}

.skm-body-group {
  text-align: left;
  background: var(--skm-header-color);
  position: sticky;
  top: 0;
}

.skm-body-group span {
  display: block;
  padding: 5px 10px;
  font-weight: bold;
}

/**
 * RESOURCES
 */

.skm-body-resource {
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
  height: var(--skm-cell-size);
  background: var(--skm-sub-header-color);
  cursor: pointer;
}

.skm-body-resource > span {
  width: var(--skm-col1-width);
  display: inline-block;
  overflow: hidden;
  padding: 5px 10px;
}

.skm-body-cell {
  width: var(--skm-cell-size);
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
}

/**
 * UTILITIES
 */
.skm-saving {
  display: block;
  text-align: center;
  margin: 10px;
  height: 30px;
}
