.skm-container {
  margin: 20px;
}

.skm-table,
.skm-table th,
.skm-table td {
  border: 1px solid #aaa;
  z-index: 999;
}

.skm-table-headers {
  border-bottom: 0px solid #fff;
}

.skm-table-body {
  display: inline-block;
  height: 450px;
  overflow: scroll;
  border: 0px solid #fff;
  border-bottom: 1px solid #aaa;

  text-align: left;
  position: relative;
  border-collapse: collapse;
}

/* the first empty one */
.skm-header-c1 {
  width: 100px;
  overflow: hidden;
}

.skm-header-prop-group {
  font-weight: normal;
  font-size: 0.7em;
  background: #ddd;
}

.skm-header-prop-value {
  font-weight: normal;
  font-size: 0.8em;
  vertical-align: bottom;
}

.skm-header-prop-value span {
  display: inline-block;
  width: 30px;
  overflow: hidden;
}

.skm-header-prop-value span {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  font-weight: normal;
}

.skm-body-res-group {
  text-align: left;
  font-weight: normal;
  background: #ddd;
  padding: 5px 10px;
  position: sticky;
  top: 0;
}

.skm-body-res-value span {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  font-weight: normal;
  text-align: right;
  padding: 5px 10px;
  font-size: 0.8em;
  white-space: nowrap;
}

.skm-body-cell-mode-view {
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
}

.skm-body-cell-mode-view span {
  display: inline-block;
  width: 30px;
  overflow: hidden;
}

/**
 *
 */

.skm-body-cell-mode-edit-info {
  font-size: 0.8em;
}

.skm-body-cell-mode-edit-label {
  margin-bottom: -10px;
}
