.skm-container {
  margin: 20px;
  font-size: 0.8em;
}

.skm-table > thead > tr > th,
.skm-table > thead > tr > td,
.skm-table > tbody > tr > th,
.skm-table > tbody > tr > td,
.skm-body-table > thead > tr > th,
.skm-body-table > thead > tr > td,
.skm-body-table > tbody > tr > th,
.skm-body-table > tbody > tr > td {
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
}

/**
 * HEADER
 */

.skm-header-total {
  vertical-align: middle;
}

.skm-header-total span {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  text-align: center;
}

.skm-header-group {
  vertical-align: middle;
  text-align: center;
  background: #ddd;
  font-weight: bold;
  white-space: nowrap;
}

.skm-header-group span {
  display: inline-block;
  overflow: hidden;
  padding: 5px 5px;
}

.skm-header-skill {
  vertical-align: bottom;
  text-align: center;
  width: 30px;
  overflow: hidden;
}

.skm-header-skill span {
  display: inline-block;
  overflow: hidden;
  margin: 5px 0;

  /* text rotate */
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

/**
 * BODY
 */

.skm-table-body {
  border-top: 0px solid #fff;
  position: relative;
  display: block;
  height: 450px;
  overflow: scroll;
  border-collapse: collapse;
}

.skm-body-group {
  text-align: left;
  background: #ddd;
  position: sticky;
  top: 0;
}

.skm-body-group span {
  display: inline-block;
  margin: 5px 10px;
  font-weight: bold;
}

/**
 * RESOURCES TABLE
 * (inside group)
 */

.skm-body-resource {
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
}

.skm-body-resource span {
  width: 100px;
  overflow: hidden;
  display: inline-block;
  padding: 5px;
}

.skm-body-cell {
  width: 30px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em;
}

/* 
.skm-table-headers {
  border-bottom: 0px solid #fff;
}

.skm-table-body {
  display: inline-block;
  height: 450px;
  overflow: scroll;
  border: 0px solid #fff;
  border-bottom: 1px solid #aaa;

  text-align: left;
  position: relative;
  border-collapse: collapse;
} */

/* the first empty one */
/* 





.skm-body-res-group {
  text-align: left;
  font-weight: normal;
  background: #ddd;
  padding: 5px 10px;
  position: sticky;
  top: 0;
}

.skm-body-res-value span {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  font-weight: normal;
  text-align: right;
  padding: 5px 10px;
  font-size: 0.8em;
  white-space: nowrap;
}

.skm-body-cell-mode-view {
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
}

.skm-body-cell-mode-view span {
  display: inline-block;
  width: 30px;
  overflow: hidden;
} */

/**
 *
 */

/* .skm-body-cell-mode-edit-info {
  font-size: 0.8em;
}

.skm-body-cell-mode-edit-label {
  margin-bottom: -10px;
} */
