/* Remove grid's margins */
.sliding-questions--grid {
  --ion-grid-padding: 0;
}
.sliding-questions--grid ion-col {
  --ion-grid-column-padding: 0;
}

ion-slides.sliding-questions--slides {
  height: 100%;
}

/* Slide's Sections */
.sliding-questions--slide {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  /* background: lime; */
}

.sliding-questions--description {
  border-bottom: 1px solid var(--ion-color-medium);
  text-align: left;
}

.sliding-questions--control-wrapper {
  position: relative;
  display: block;
  min-height: 120px;
  width: 100%;
}

.sliding-questions--control {
  position: absolute;
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}