/* Centers the content of IonContent both horizontally and vertically */
.ion-content-center::part(scroll) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ion-content-h-center::part(scroll) {
  display: flex;
  justify-content: center;
}

.ion-content-v-center::part(scroll) {
  display: flex;
  align-items: center;
}
